.view-product {
    width: 70%;
    float: left;
    position: relative;
    margin-top: 20px;

}

.small-images {
    width: 10%;
    float: left;
}

.big-image {
    float: left;
    padding-right: 25px;
    padding-left: 10px;
    width: 90%;
}

.img-small {
    width: 100%;
    margin: 5px 0;
    /* border-color: 1px solid transparent; */
}

.img-select {
    /* border: 1px solid gray; */
    box-shadow: 0 0 5px grey;
    display: block;
}

.img-big {
    width: 100%;
}

a:hover .img-big {
    display: block;
}

.view-product-detail {
    width: 30%;
    float: left;
    line-height: 1.4;
    margin-top: 15px;
}



.brand-name {
    font-weight: 700;
    font-size: 20px;
}

.product-name {
    font-size: 16px;
}

.product-price {
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
}


.img-tooltip {
    width: 18px;
    height: 18px;
}

.pay-now-container {
    font-size: 14px;
    color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.pay-now {
    padding: 0 5px;
}

.ourpay {
    display: inline-block;
}

.img-ourpay {
    height: 22px;
    display: inline-block;
}

.pay-now-info {
    color: #f37325;
}

.pay-now-price {
    font-size: 24px;
}

.buttons {
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: #323232;
    border: 1px solid #ccc;
    padding: 7px 12px;
    margin: 0 10px 10px 0;
    border-radius: 4px;
    background-color: white;
}

.select {
    background-color: black;
    color: white;
}

.buttons:hover {
    border-color: black;
}

.add-to-cart-button {
    background-color: #65d87f;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 250px;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #65ef7f;
    cursor: pointer;
}

.delivery {
    font-size: 12px;
    margin-top: 15px;
    line-height: 2em;
}


#product-desc {
    float: left;
    margin-top: 35px;
}

.product-description {
    font-size: 12px;
}

.product-name {
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    margin-bottom: 5px;
}

.product-description ul {
    list-style-type: initial;
    padding-left: 15px;
}

.link-no-color {
    color: #007cf7;
    text-decoration: none;
    font-size: 12px;
}

.cart-detail {
    display: none;
}

header .shopping-cart:hover .cart-detail {
    background-color: #f1f1f1;
    width: 250px;
    overflow: auto;
    position: absolute;
    top: 60px;
    left: -150px;
    display: block;
    z-index: 99;
}


header .shopping-cart.not-empty-cart {
    background-color: #65d87f;
}

.cart-detail:hover,
header .shopping-cart.not-empty-cart .shopping-cart-item-count,
header .shopping-cart.not-empty-cart .shopping-cart-delivery {
    display: block;
}


.cart-row {
    position: relative;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc !important;
    float: left;
    width: 100%;
}

.cart-row-image {
    width: 20%;
    float: left;
    margin-right: 5px;
}

.cart-row-detail {
    position: relative;
    width: 70%;
    float: left;
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
    color: #323232;
}

.cart-row-product-name a {
    float: left;
    font-weight: 700;
    color: #323232;
}

/* .cart-row-product-size {
    width: 100%;
    color: grey !important;
} */


.cart-row-product span:after {
    content: "-";
    margin: 0px 3px;
}

.cart-row-product span:last-child:after {
    content: "";
}



.btn-checkout {
    width: 80%;
    background-color: #65d87f;
    color: white;
    border-radius: 5px;
    margin: 10px 0px;
    border: none;
    padding: 10px;
}


.shopping-cart-item-count {
    border-radius: 7px;
    background-color: #da3427;
    color: white;
    width: 14px;
    height: 14px;
    line-height: 14px;
    display: none;
    top: 9px;
    left: 60px;
    font-size: 10px;
    position: absolute;
}

.shopping-cart-delivery {
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
}

.brand-description {
    border-radius: 10px;
    padding: 25px 30px 20px;
    margin: 15px 0 30px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: gray;
    line-height: 22px;
    background-color: #ccc;
}

.pricing-hint {
    display: none;
}

.img-tooltip:hover+.pricing-hint {
    display: block;
    z-index: 999;
    border: 1px solid grey;
    width: 100%;
    position: absolute;
    background-color: white;
    left: 2px;
    padding: 10px;
    border-radius: 5px;
    color: gray;
}

.original-price,
.website-price {
    position: relative;
    margin: 10px 0;
}

.original-price .price-text {
    text-decoration: line-through;
    float: left;
    color: gray;
    font-weight: 400;
    font-size: 14px;
}

.website-price .price-text {
    float: left;
    color: black;
    font-weight: 400;
    font-size: 26px;
}

.payment-schedule {
    display: none;
}

.show-payment.payment-schedule {
    display: block;
    color: gray;
}

.has-padding {
    padding-left: 5px;
}

.schedule li {
    width: 16%;
    /* float: left; */
    display: inline-block;
    text-align: center;
    padding: 0 5px 0 0;
    color: #323232;
    font-weight: 700;
}

.schedule li:first-child {
    width: 20%;
}

.schedule li>div:first-child {
    margin-left: 10px;
}

.schedule li>div {
    display: table-cell;
    text-align: center;

}

.date {
    font-weight: 700;
    color: #323232;
    /* float: left; */
}

.number {
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 9px;
    line-height: 18px;
    background-color: #ccc;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}


.number-select {
    background-color: #fdbb17;
}

.schedule .price-text {
    color: #323232;
    font-weight: 700;
    /* float: left; */


}

.schedule>ul {
    overflow: auto;
    border-top: 1px solid grey;
    padding: 10px 5px 0;

}

.sold-out {
    display: none;
}

.is-sold-out .buttons {
    color: gray;
}

.is-sold-out .sold-out {
    display: block;
}

.announce-basket,
.announce-size {
    display: none;
}

.added-to-basket.announce-basket,
.no-size-selected.announce-size {
    display: block;
    position: fixed;
    top: 95px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    right: 55px;
    color: white;
    z-index: 99;
}

.no-size-selected.announce-size {
    top: 75px;
    right: 330px;
}

.btn-view-basket {
    background-color: #65ef7f;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    width: 150px;
    margin-top: 10px;
}

.view-basket {
    text-align: center;
}

.announce-title {
    font-size: 20px;
    margin-bottom: 10px;
}